
<div id="home-content">
	<div id="splash-photo">
		<div id="splash-text">
			
			<div id="solicit-phone-number">
				<h3>Enter your number for some dank dealz</h3>
				<form id="number-form">
					<input id="phone-number"name="number" type="tel" placeholder="Phone or Email">
					<br>
					<input type="submit" value="SIGN ME UP" id="btn">
					<input type="button" value="NO THANKS" id="dismiss-btn">
				</form>
			</div>
		</div>
	</div>
	
	<h1 id="title">MORE FILLER TEXT</h1>

	<div id = "homepage-article">
		<div class="homepage-content-box">
			<div class="homepage-picture"></div>
			<div class ="homepage-caption"></div>
		</div>
		<div class="homepage-content-box">
			<div class ="homepage-caption"></div>
			<div class="homepage-picture"></div>
		</div>
		<div class="homepage-content-box">
			<div class="homepage-picture"></div>
			<div class ="homepage-caption"></div>
		</div>
	</div>
	
</div>

