
<div id="home-content">
	<div id="splash-photo">
		<div id="splash-text">
			<h5>Stressed? Depressed? Anxious?</h5>
			<h3>You've come to the right bakery</h3>
			<p>This is just some filler text that I'll come back and edit out later.</p>
			<a id="btn" href="signup">Sign up</a>
		</div>
	</div>
	
	<h1 id="title">Baked Goods lmao</h1>
</div>

