
<div id="home-content">
	<div id="splash-photo">
		<div id="splash-text">
			<h1>I have no idea what to fucking put here</h1>
			
			<a id="btn" href="signup">Sign up</a>
		</div>
	</div>
	
	<h1 id="title">MORE FILLER TEXT</h1>

	<div id = "homepage-article">
		<div class="homepage-content-box">
			<div class="homepage-picture"></div>
			<div class ="homepage-caption"></div>
		</div>
		<div class="homepage-content-box">
			<div class ="homepage-caption"></div>
			<div class="homepage-picture"></div>
		</div>
		<div class="homepage-content-box">
			<div class="homepage-picture"></div>
			<div class ="homepage-caption"></div>
		</div>
	</div>
	
</div>

