
<div id="home-content">
	<div id="splash-photo">
		<div id="splash-text">
			<h1>Hey, Enter your phone number for discounts</h1>
			
			<div id="btn">Sign up</div>
		</div>
	</div>
	
	<h1 id="title">MORE FILLER TEXT</h1>

	<div id = "homepage-article">
		<div class="homepage-content-box">
			<div class="homepage-picture"></div>
			<div class ="homepage-caption"></div>
		</div>
		<div class="homepage-content-box">
			<div class ="homepage-caption"></div>
			<div class="homepage-picture"></div>
		</div>
		<div class="homepage-content-box">
			<div class="homepage-picture"></div>
			<div class ="homepage-caption"></div>
		</div>
	</div>
	
</div>

