
<div id="home-content">
	<div id="splash-photo">
		<div id="splash-text">
			
			<div id="solicit-phone-number">
				<h1>HEY THERE... </h1>
				<h2>WE HEARD YOU WERE LOOKING FOR GOOD PRICES</h2>
				<form id="number-form">
					<input autocomplete="off" id="name-input"name="name" type="text" placeholder="Name">
					
					<input id="phone-number"name="number" type="tel" placeholder="Phone or Email">
					
					<input type="submit" value="SIGN ME UP" id="btn">
				</form>
			</div>
		</div>
	</div>
	

	<div id = "homepage-article">
		
		<a href="cakes"><div class="homepage-content-box">
			<div id="homepage-cake" class="homepage-picture">
				<img src='https://images.pexels.com/photos/1414234/pexels-photo-1414234.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'>
			</div>
			<div class ="homepage-caption">
				<h1>CAKES</h1>
				<p>Aute eu eu nulla ipsum cillum. In deserunt magna anim enim esse pariatur nisi labore exercitation. Id minim amet cillum sit velit mollit. Quis in aute enim non laborum reprehenderit.
				Aute eu eu nulla ipsum cillum. In deserunt magna anim enim esse pariatur nisi labore exercitation. Id minim amet cillum sit velit mollit. Quis in aute enim non laborum reprehenderit.

					Lorem dolore esse adipisicing voluptate consequat sint consectetur irure consequat enim sunt proident ut. Sunt anim dolor veniam ullamco velit. Est qui aliqua dolor id. Laborum proident tempor minim cupidatat exercitation enim do elit deserunt. Adipisicing ex culpa commodo cupidatat in consectetur do aute amet dolor eu.</p>
			</div>
		</div>
		</a>
		<div class="homepage-content-box">
			<div class ="homepage-caption">
				<h1>MUFFINS</h1>
				<p>Aute eu eu nulla ipsum cillum. In deserunt magna anim enim esse pariatur nisi labore exercitation. Id minim amet
					cillum sit velit mollit. Quis in aute enim non laborum reprehenderit.
					Aute eu eu nulla ipsum cillum. In deserunt magna anim enim esse pariatur nisi labore exercitation. Id minim amet
					cillum sit velit mollit. Quis in aute enim non laborum reprehenderit.
				
					Lorem dolore esse adipisicing voluptate consequat sint consectetur irure consequat enim sunt proident ut. Sunt anim
					dolor veniam ullamco velit. Est qui aliqua dolor id. Laborum proident tempor minim cupidatat exercitation enim do
					elit deserunt. Adipisicing ex culpa commodo cupidatat in consectetur do aute amet dolor eu.</p>
			</div>
			<div id="homepage-muffin" class="homepage-picture">
			      <img src="https://images.pexels.com/photos/1853008/pexels-photo-1853008.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
			</div>
		</div>
		<div class="homepage-content-box">
			<div  id="homepage-cookie" class="homepage-picture">
				<img src="https://images.pexels.com/photos/890577/pexels-photo-890577.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
			</div>
			<div class ="homepage-caption">
				<h1>COOKIES</h1>
				<p>Aute eu eu nulla ipsum cillum. In deserunt magna anim enim esse pariatur nisi labore exercitation. Id minim amet
					cillum sit velit mollit. Quis in aute enim non laborum reprehenderit.
					Aute eu eu nulla ipsum cillum. In deserunt magna anim enim esse pariatur nisi labore exercitation. Id minim amet
					cillum sit velit mollit. Quis in aute enim non laborum reprehenderit.
				
					Lorem dolore esse adipisicing voluptate consequat sint consectetur irure consequat enim sunt proident ut. Sunt anim
					dolor veniam ullamco velit. Est qui aliqua dolor id. Laborum proident tempor minim cupidatat exercitation enim do
					elit deserunt. Adipisicing ex culpa commodo cupidatat in consectetur do aute amet dolor eu.</p>
			</div>
		</div>
	</div>
	
</div>

