<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="main.css">
	<title>Wake'n'Bake</title>
</head>
<body>
	<nav>
			<a class="productlinks" href="cookies">Cookies</a>
			<a class="productlinks" href="cakes">Cakes</a>
			<a class="productlinks" href="muffins">Muffins</a>

	
	</nav>

	<%= yield %>
</body>
</html>
