<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="main.css">
<link href="https://fonts.googleapis.com/css?family=Ubuntu:700&display=swap" rel="stylesheet">	<title>Wake'n'Bake</title>
</head>

<body>

	<nav>
		<div id="nav-info">
			<div id="logo">
				<img src="/images/wakenbake.png" width=85>
				<h1>Wake 'n' Bakery</h1>
			</div>

			

		</div>
		<div id="nav">
			<a class="productlinks" href="/">HOME</a>
			<a class="productlinks" href="cookies">COOKIES</a>
			<a class="productlinks" href="cakes">CAKES</a>
			<a class="productlinks" href="muffins">MUFFINS</a>
			<a class="productlinks" href="404">MERCH</a>
			<a class="productlinks" href="404">CONTACT US</a>
		</div>
	</nav>
	<div id="content">
		<%= yield %>
	</div>
	
	<div id="signup-section">
		<form id="number-form">
			<h2>Sign up for email Updates.</h2>
			<input id="phone-number" name="number" type="tel" placeholder="Phone or Email">
		
			<input type="submit" value="SIGN ME UP" id="btn">
		</form>
	</div>
	<footer>
		<div class="footer-grid">
			<div class="footer-col">
				<h3>Products</h3>
				<p>Cakes</p>
				<p>Cookies</p>
				<p>Muffins</p>
				<p>Flower</p>
			</div>
			<div class="footer-col">
				<h3>Our Locations</h3>
				<p>idk</p>
				<p>wherever</p>
				<p>this is</p>
				<p>legalized</p>
			</div>
			<div class="footer-col">
				<h3>Contact Us</h3>
				<p>Individuals</p>
				<p>Companies</p>
				<p>Dispensaries</p>
				<p>Catering</p>
			</div>
			<div class="footer-col">
				<h3>Quick Links</h3>
				<p>Honestly</p>
				<p>Who needs</p>
				<p>a footer</p>
				<p>this big</p>
			</div>
		</div>
		<div id="copyright">
			<p>Copyright &copy; 2019 - 2022 Wake 'n' Bakery co. and its affiliates. All rights reserved.</p>
		</div>
	</footer>


	<script src="main.js"></script>
</body>

</html>