<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="main.css">
	<title>Wake'n'Bake</title>
</head>
<body>
	<nav>
		<div id="nav-container">
			<a href="Products">
		</div>
	</nav>

	<%= yield %>
</body>
</html>
