<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="main.css">
	<title>Wake'n'Bake</title>
</head>
	<body>
		
    <nav>
      <div id="nav-info">
      
      <img src="/images/wakenbake.png" width=100>
      
      </div>
			<div id="nav">
					<a class="productlinks" href="/">HOME</a>
					<a class="productlinks" href="cookies">COOKIES</a>
					<a class="productlinks" href="cakes">CAKES</a>
					<a class="productlinks" href="muffins">MUFFINS</a>
					<a class="productlinks" href="404">MERCH</a>
					<a class="productlinks" href="404">CONTACT US</a>
			</div>
    </nav>
	<div id="content">
		<%= yield %>
	</div>
	</div>

	<script src="main.js"></script>
	</body>
</html>
