@font-face {
  font-family: 'spliffs';
  src: url("/fonts/Spliffs.ttf"); }
html {
  scroll-behavior: smooth; }

#splash-photo #splash-text div .btn, #signup-section #number-form #btn, #signup-section #number-form input {
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 0;
  -webkit-appearance: none;
  background: none;
  transition: .25s;
  border: 1px solid #ccc; }

h1, h2, h3, h4, h5 {
  font-family: 'ubuntu', 'sans-serif'; }

body::-webkit-scrollbar {
  width: 2px; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 20px; }

nav {
  z-index: 3;
  background-color: #fff7a3;
  width: 100%;
  height: 18.75vh;
  position: fixed;
  top: 0;
  box-shadow: 0px 4px 20px 0px #666666; }
  nav img {
    padding: .75%; }
  nav #nav-info {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    justify-content: space-around;
    height: 15.5vh;
    border-bottom: .5px solid #444; }
    nav #nav-info #logo h1 {
      display: inline-block;
      font-family: 'spliffs';
      color: #555;
      letter-spacing: 1.5px;
      font-size: 2.5em; }
    nav #nav-info #shopping-cart {
      text-align: right; }
  nav #nav {
    text-align: center;
    width: 100%; }
    nav #nav a {
      font-size: small;
      display: inline-block;
      padding: 5px 2%;
      text-align: center;
      width: fit-content;
      color: #000;
      text-decoration: none;
      transition: .25s; }
    nav #nav a:hover {
      border-bottom: 2px solid #ff5100; }

a {
  color: #000;
  text-decoration: none; }

body {
  background-color: #fff;
  margin: 0;
  font-family: 'Roboto Mono', 'sans-serif'; }
  body #content {
    margin: 18.5vh auto 0; }

#splash-photo {
  width: 99vw;
  height: 82vh;
  margin: 0 auto;
  background-image: url("https://images.pexels.com/photos/1028714/pexels-photo-1028714.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position-y: center;
  position: relative; }
  #splash-photo #splash-text {
    border-radius: 5px;
    position: absolute;
    left: 25%;
    margin-left: -20vw;
    bottom: 15%;
    z-index: 2;
    width: 40vw;
    height: 35.5vh;
    color: white;
    text-align: center;
    background: #2c2c2ca2;
    letter-spacing: 1px;
    backdrop-filter: blur(20px);
    transition: .5s; }
    #splash-photo #splash-text h1, #splash-photo #splash-text h2 {
      margin: 10px; }
    #splash-photo #splash-text div {
      margin-top: 15%; }
      #splash-photo #splash-text div .btn {
        background-color: #e9e983;
        transition: .25s;
        font-weight: 600; }
      #splash-photo #splash-text div .btn:hover {
        background-color: #e2c000; }

#home-content #featured {
  padding-bottom: 2%; }
  #home-content #featured h1 {
    margin: 0;
    padding: 2%;
    text-align: center; }
#home-content #aboutus {
  width: 99vw;
  height: 60vh;
  text-align: center; }
#home-content #homepage-article {
  width: 75vw;
  margin: 15px auto 0; }
  #home-content #homepage-article h1 {
    margin: 0 auto 25px;
    text-align: center;
    padding: 2% ""; }
#home-content .homepage-content-box:hover, #home-content .homepage-content-box:hover p {
  filter: grayscale(60%);
  color: #000; }
#home-content .homepage-content-box {
  display: inline-grid;
  vertical-align: bottom;
  height: 60vh;
  grid-template-columns: auto auto;
  margin-bottom: 15px;
  filter: grayscale(85%);
  transition: .25s;
  color: #444; }
  #home-content .homepage-content-box .homepage-picture {
    width: 50vw;
    background-size: 25%;
    background-position-y: center;
    overflow: hidden; }
    #home-content .homepage-content-box .homepage-picture img {
      width: 50vw; }
  #home-content .homepage-content-box .homepage-caption {
    width: 25vw;
    text-align: justify;
    text-decoration: none;
    padding: 0 10px 0; }
    #home-content .homepage-content-box .homepage-caption h1 {
      text-align: center;
      margin: 0 0 25px; }
    #home-content .homepage-content-box .homepage-caption p {
      margin: 0; }

.category-title {
  text-align: center;
  height: 27.5vh;
  width: 100%; }
  .category-title h1 {
    padding: 3%; }

.product-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-around; }
  .product-container .product:hover .product-title, .product-container .product:hover .product-price, .product-container .product:hover .product-description, .product-container .product:hover .product-mg {
    color: #000; }
  .product-container .product {
    cursor: pointer;
    transition: .25s;
    text-align: center; }
    .product-container .product img {
      border-radius: 5px; }
    .product-container .product .product-title, .product-container .product .product-price, .product-container .product .product-description, .product-container .product .product-mg {
      color: #666;
      margin-top: 5px;
      margin-bottom: 5px;
      transition: .25s; }
    .product-container .product .product-description {
      width: 275px;
      font-size: small;
      text-align: justify;
      font-style: italic; }

#signup-section {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 25px;
  text-align: center;
  margin: 0 auto; }
  #signup-section h2 {
    display: inline-block; }
  #signup-section #number-form input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 25px; }
  #signup-section #number-form ::placeholder {
    font-size: 1.25em;
    font-weight: 300;
    letter-spacing: 1px; }
  #signup-section #number-form #btn {
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #000;
    background-color: #e2c0005d;
    border-color: #e2c000;
    margin-left: -5px; }
  #signup-section #number-form #btn:hover {
    color: #000;
    font-weight: 600;
    background-color: #e2c000; }

footer {
  background-color: yellow;
  font-size: 66%;
  width: 100%;
  text-align: right;
  padding-top: 10px; }
  footer .footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 20vw); }
    footer .footer-grid .footer-col p {
      margin: .25em; }
    footer .footer-grid .footer-col p:hover {
      text-decoration: underline; }
  footer #copyright {
    margin-top: 2%;
    font-size: .75em; }

/*# sourceMappingURL=main.css.map */
