nav {
  z-index: 3;
  background-color: #b6eccc;
  width: 100%;
  height: 18.75vh;
  position: fixed;
  top: 0;
  text-align: center;
  box-shadow: 0px 4px 20px 0px #666666; }
  nav img {
    padding: .75%; }
  nav #nav-info {
    height: 15.5vh;
    border-bottom: .5px solid #444; }
  nav #nav {
    width: 100%; }
    nav #nav a {
      font-size: small;
      display: inline-block;
      padding: 5px 2%;
      text-align: center;
      width: fit-content;
      color: #000;
      text-decoration: none;
      transition: .25s; }
    nav #nav a:hover {
      border-bottom: 2px solid #ff5100; }

a {
  color: #000;
  text-decoration: none; }

body {
  background-color: #DFF3E3;
  margin: 0;
  font-family: sans-serif; }
  body #content {
    margin: 15.5vh auto 0; }

#splash-photo #splash-text #number-form #btn, #splash-photo #splash-text #number-form #dismiss-btn {
  cursor: pointer;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.17em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-size: 1.25em;
  font-weight: 300;
  letter-spacing: 1px;
  color: #FFFFFF;
  background: #2b2b2b63;
  text-align: center;
  transition: all 0.2s; }

#splash-photo #splash-text #number-form input {
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  background: none;
  font-family: 'Roboto',sans-serif;
  font-size: 1.25em;
  font-weight: 300;
  letter-spacing: 1px;
  color: #fff; }

#splash-photo {
  width: 99vw;
  height: 80vh;
  margin: 0 auto;
  background-image: url("https://images.unsplash.com/photo-1465254596705-1ef61f93878c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1892&q=80");
  background-size: cover;
  background-position-y: center;
  position: relative; }
  #splash-photo #splash-text {
    border-radius: 5px;
    position: absolute;
    left: 50%;
    margin-left: -30vw;
    bottom: 22%;
    z-index: 2;
    width: 60vw;
    height: 32.5vh;
    color: white;
    text-align: center;
    background: rgba(53, 53, 53, 0.603);
    letter-spacing: 1px;
    backdrop-filter: blur(5px);
    transition: .5s; }
    #splash-photo #splash-text h1, #splash-photo #splash-text h2 {
      margin: 10px; }
    #splash-photo #splash-text #number-form ::placeholder {
      color: #fff;
      font-size: 1.25em;
      font-weight: 300;
      letter-spacing: 1px; }
    #splash-photo #splash-text #number-form #btn {
      color: #fff;
      border-color: #00b63d; }
    #splash-photo #splash-text #number-form #btn:hover {
      color: #000;
      font-weight: 600;
      background-color: #00b63d; }
    #splash-photo #splash-text #number-form #dismiss-btn {
      border-color: #00b63d; }
    #splash-photo #splash-text #number-form #dismiss-btn:hover {
      font-weight: 600;
      color: #000000;
      background-color: #00b63d; }

#home-content #title {
  text-align: center; }
#home-content #homepage-article {
  width: 75vw;
  margin: 15px auto; }
#home-content .homepage-content-box:hover, #home-content .homepage-content-box:hover p {
  filter: none;
  color: #000; }
#home-content .homepage-content-box {
  display: inline-grid;
  vertical-align: bottom;
  height: 60vh;
  grid-template-columns: auto auto;
  margin-bottom: 15px;
  filter: grayscale(85%);
  transition: .25s;
  color: #444; }
  #home-content .homepage-content-box .homepage-picture {
    width: 50vw;
    background-size: 25%;
    background-position-y: center;
    overflow: hidden; }
    #home-content .homepage-content-box .homepage-picture img {
      width: 50vw; }
  #home-content .homepage-content-box .homepage-caption {
    width: 25vw;
    text-align: justify;
    text-decoration: none;
    padding: 0 10px 0;
    font-size: 1.2em; }
    #home-content .homepage-content-box .homepage-caption h1 {
      text-align: center;
      margin: 0 0 25px; }
    #home-content .homepage-content-box .homepage-caption p {
      margin: 0;
      font-size: x-large; }

.product-container {
  margin-top: 15%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-around; }
  .product-container .product:hover .product-title, .product-container .product:hover .product-price, .product-container .product:hover .product-description, .product-container .product:hover .product-mg {
    color: #000; }
  .product-container .product {
    cursor: pointer;
    transition: .25s;
    text-align: center; }
    .product-container .product img {
      border-radius: 5px; }
    .product-container .product .product-title, .product-container .product .product-price, .product-container .product .product-description, .product-container .product .product-mg {
      color: #666;
      margin-top: 5px;
      margin-bottom: 5px;
      transition: .25s; }
    .product-container .product .product-description {
      width: 275px;
      font-size: small;
      text-align: justify;
      font-style: italic; }

/*# sourceMappingURL=main.css.map */
