@font-face {
    font-family: 'spliffs';
    src: url('/fonts/Spliffs.ttf');
}

html {
  scroll-behavior: smooth;
}

%button, %input{
  display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 0;
    -webkit-appearance: none;
    background: none;
    transition: .25s;
    border: 1px solid #ccc;
}

h1, h2, h3, h4, h5 {
  font-family: 'ubuntu', 'sans-serif';
}

body::-webkit-scrollbar {
  width: 7.5px;
  background-color: slategray;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: yellow;
  outline: 1px solid black;
  border-radius: 20px;
}

#intersection-point {
  position: absolute;
  height: 1px;
  width: 1px;
  top: 15.75%;
}

nav {
    z-index: 3;
    background-color: #ffd900;
    width: 100%;
    height: 18.75vh;
    position: fixed;
    top: 0;  
    box-shadow: 0px 4px 20px 0px rgba(102,102,102,1);
    transition: .25s;
    img{
      // padding: .75%;
    }
    #nav-info{
     
      height:15.5vh;
      transition: .5s;      
      #logo{
        text-align: center;
        h1{
          display: inline-block;
          font-family: 'spliffs';
          color: #555;
          letter-spacing: 1.5px;
          font-size: 2.5em;
        }
        transition: .25s;
        transform: scale(.75);
      }

      #shopping-cart{
        text-align: right;
      }
    }
    #nav{
      text-align: center;  
      width: 100%;
      transform: scale(1.25);
       a{
           font-size: small;
           display: inline-block;
           padding: 5px 2%;
           text-align: center;
           
           width: fit-content;
           color: #000;
           text-decoration: none;
           transition: .25s;
       }
       a:hover{
           border-bottom: 2px solid #ff5100;
       }
    }
}

a{
  color: #000;
  text-decoration: none;
}

body {
    background-color:#fcfa86;
	margin: 0;
    font-family: 'Roboto Mono', 'sans-serif';
    #content{
        margin: 18.5vh auto 0;
    }
}


#splash-photo{
    width: 100%;
    height: 82vh;
    margin: 0 auto;
    background-image: url('https://images.pexels.com/photos/1028714/pexels-photo-1028714.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    background-position-y: center;
    position: relative;
    #splash-text{
      h1{
        
      }
      h1, h2{
        margin: 10px;
      }
      div{
        margin-top: 15%;
        .btn{
          @extend %button;
          color: #fff9c4;
          transition: .25s;
          font-weight: 600;
        }
        .btn:hover{
          background-color:#ffd900;
          color: #000;
        }
      }
        border-radius: 5px;
        position: absolute;
        left:25%;
        margin-left: -20vw;
        bottom: 15%;
        z-index: 2;
        width: 40vw;
        height: 35.5vh;
        color: white;
        text-align: center;
        background: #2c2c2ca2;
        letter-spacing: 1px;
        backdrop-filter: blur(20px);
        transition: .5s;
      }
        
    }



#home-content{
  // background-color: #ffd900;
  #featured{
    padding-bottom: 2%;
    background-color: #f8f665;
    h1{
      margin: 0;
      padding: 2%;
      text-align: center;
    }
  }
  #aboutus{
    width: 99vw;
    height: 60vh;
    text-align: center;
  }


  #homepage-article{
    
    h1{
      margin: 0 auto 25px;
      text-align: center;
      padding: 2%''
    }
      width: 75vw;
      margin: 15px auto 0;      
    }
    .homepage-content-box:hover, .homepage-content-box:hover p{
      filter: grayscale(60%);
      color: #000;
    }
    .homepage-content-box{
      display: inline-grid;
      vertical-align: bottom;
      height: 60vh;
      grid-template-columns: auto auto;
      margin-bottom: 15px;
      filter: grayscale(85%);
      transition: .25s;
      color: #444;

      .homepage-picture{
        width: 50vw;
        background-size: 25%;
        background-position-y: center;
        overflow: hidden;
        img{
          width: 50vw;
        }
      }
      .homepage-caption{
        width: 25vw;
        text-align: justify;
        text-decoration: none;
        padding: 0 10px 0;
        
        
        h1{
          text-align: center;
          margin: 0 0 25px;
        }
        p{
          margin: 0;
          
        }
      }
    }

}

.category-title{
  margin-top: 15%;
  h1{
    padding: 3%;
		font-size: 3em; 
  }
  text-align: center;
  height: 18.5vh;
  width: 100%;

}

.product-container{  
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-around;
    .product:hover{
      .product-title, .product-price, .product-description, .product-mg{
         color: #000;
        }
    }
    .product{
      cursor: pointer;
      transition: .25s;
      img{
        border-radius: 5px;
      }
       text-align: center   ;
        .product-title, .product-price, .product-description, .product-mg{
            color: #666;
            margin-top: 5px;
            margin-bottom: 5px;
            transition: .25s;
        }
        .product-description{
          width: 275px;
          font-size: small;
          text-align: justify;
          font-style: italic;
          
        }
    }
}

#signup-section{
  background-color: #ffffe2;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 25px;
  text-align: center;
  margin: 0 auto;
  h2{
    display: inline-block;
  }
  #number-form{
          input{
            @extend %input;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            margin-left: 25px;
          }

          ::placeholder{
            
            font-size: 1.25em;
            font-weight:300;
            letter-spacing: 1px;
          }
          
          #btn{
            cursor: pointer;
            @extend %button;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            color: #000;
            background-color: #e2c0005d;
            border-color: #e2c000;
            margin-left: -5px;
          }
          #btn:hover{
            color: #000;
            font-weight: 600;
            background-color:#e2c000;
          }
        }
}

footer {
  background-color: #fcfa9b;
  font-size: 66%;
  width: 100%;
  text-align: right;
  padding-top: 10px;
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 20vw);
    .footer-col {
      p{
        margin: .25em;
      }
      p:hover{
        text-decoration: underline;
      }
    }
  }
  #copyright {
    margin-top: 2%;
    font-size: .75em;
  }
}


